* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    
    .item {
        border: 1px solid red;
        
    }

}
